@model CTL.WEB.Areas.Admin.Models.GroupViewModel

@{
    ViewBag.Title = "Група";
}

<h2>@ViewBag.Title</h2>
<h4>Редагувати дані про групу</h4>
<hr />
@Html.ActionLink("Повернутися", "Index", new { area = "Admin", controller = "InputDataGroup" }, new { @class = "btn btn-default", role = "button" })
<hr />

@using (Html.BeginForm("EditGroup", "InputDataGroup", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.Hidden("Id", Model.Id)

    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StudentsCountBudget, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.StudentsCountBudget, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StudentsCountContract, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.StudentsCountContract, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EducationType, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.EducationType, ViewBag.EducationTypeList as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.EducationForm, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.EducationForm, ViewBag.EducationFormList as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Course, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Course, ViewBag.CourseList as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.QualificationLevelName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.QualificationLevelName, ViewBag.QualificationLevelList as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CathedraName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.CathedraName, ViewBag.CathedraList as IEnumerable<SelectListItem>, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-success" value="Редагувати" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}