<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - АСОІУ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("АСОІУ", "Index", "Home", new { area = "Admin" }, new { @class = "navbar-brand" })
            </div>

            @if (Request.IsAuthenticated && Context.User.IsInRole("admin"))
            {
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Головна", "Index", new { area = "Admin", controller = "Home" })</li>
                       
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Введення<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Факультет", "Index", "InputDataFaculty")</li>
                                <li>@Html.ActionLink("Кафедра", "Index", "InputDataCathedra")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Група", "Index", "InputDataGroup")</li>   
                                <li>@Html.ActionLink("Потік", "Index", "InputDataFlow")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Дисципліна", "Index", "InputDataSubject")</li>
                                <li>@Html.ActionLink("Викладачі", "Index", "InputDataTeacherInfo")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Вид робіт", "Index", "InputDataTypeWork")</li>
                                <li>@Html.ActionLink("Під вид робіт", "Index", "InputDataSubTypeWork")</li>
                                <li>@Html.ActionLink("Посада", "Index", "InputDataAppointment")</li>
                                <li>@Html.ActionLink("Ступінь", "Index", "InputDataDegree")</li>
                                <li>@Html.ActionLink("Звання", "Index", "InputDataRank")</li>
                                <li>@Html.ActionLink("ОКР", "Index", "InputDataQualificationLevel")</li>
                                <li>@Html.ActionLink("Кількість років", "Index", "InputDataYearsCount")</li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Розрахунок<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Дисципліна", "Index", "CalcSubjectLoad")</li>
                            </ul>
                        </li>
                       
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Звітність<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Звітність", "Index", "Calculation")</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("Вихід з системи", "Index", new { area = "", controller = "Home" })
                        </li>
                    </ul>
                </div>
            }

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Кафедра Автоматизованих Систем Обробки інформації та Управління</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angularJS")
    @Scripts.Render("~/bundles/InputData")
    @Scripts.Render("~/bundles/Calc")

    @RenderSection("scripts", required: false)
</body>
</html>